npm-debug.log
node_modules
coverage
.idea/workspace.xml
.idea/tasks.xml
.idea/watcherTasks.xml
.DS_Store
docs/.vuepress/dist
docs/.vuepress/api-sidebar-relative.json
docs/.vuepress/api-sidebar.json
docs/.vuepress/public/assets/js/caporal.d.ts
docs/.vuepress/public/assets/js/caporal.js
docs/.vuepress/public/assets/js/caporal.js.map
docs/api
local_tests
.idea
dist
*.tgz
.secret.md
.now
