npm-debug.log
node_modules
coverage
.idea/workspace.xml
.idea/tasks.xml
.idea/watcherTasks.xml
.DS_Store
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/api-sidebar-relative.json
docs/.vitepress/api-sidebar.json
docs/.vitepress/public/assets/js/caporal.d.ts
docs/.vitepress/public/assets/js/@caporal
docs/api
local_tests
.idea
dist
*.tgz
.secret.md
.now
.temp
.cache
