.home {
	.feature {
		h2 {
			font-weight: 600 !important;
			color: var(--c-text) !important;
		}
	}
}
.homepage table,
.homepage table thead {
	width: 100%;
}
.contributor {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 15px;
}
.homepage {
	table {
		tr {
			&:nth-child(2n) {
				background: transparent !important;
			}
		}
		th {
			width: 20%;
		}
	}
}
.site-name {
	display: none !important;
}
.page {
	max-width: fit-content;
	table {
		code {
			white-space: nowrap;
		}
	}
}
.navbar {
	.links {
		font-size: 1rem !important;
		left: 19rem;
		right: auto;
	}
}
.nav-links {
	a {
		color: #767676 !important;
		font-weight: 500;
	}
	.nav-item {
		margin-left: 2rem;
	}
}
.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active {
	border-bottom: 4px solid #b32100 !important;
	padding-bottom: 14px;
}
h3 {
	& > code {
		background-color: transparent !important;
		color: inherit !important;
	}
}
h4 {
	font-size: 1.1rem;
}
table {
	display: table;
	min-width: 100%;
}


header.hero > img #Caporal {
  fill: var(--c-text);
}
