
.home .feature h2  
  font-weight: 600 !important
  color: $textColor !important

.homepage table, .homepage table thead
  width: 100%

.contributor 
  width: 80px 
  height: 80px
  border-radius: 50%
  margin-top: 15px

.homepage table tr:nth-child(2n) 
  background: transparent !important

.homepage table th
  width: 20%  

.home .feature p
  color: $textColor !important

.site-name 
  display: none !important

.page table code 
  white-space: nowrap


// By Matt
.page
  max-width: fit-content
  // min-width: -webkit-fill-available

.navbar .links
  font-size: 1rem !important
  left: 19rem;
  right: auto;

.nav-links a
  color: #767676 !important
  font-weight: 500

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
    border-bottom: 4px solid #b32100 !important;
    padding-bottom: 14px

.nav-links .nav-item 
  margin-left: 2rem

h3 > code 
  background-color: transparent !important
  color: inherit !important

h4 
  font-size: 1.1rem

table 
  display: table
  min-width: 100%
